---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

interface Props {
	title?: string;
	description?: string;
	lang?: 'en' | 'de';
}

const {
	title = 'My Classic Starter Site',
	description = 'A static website starter built with Astro.',
	lang = Astro.url.pathname.startsWith('/de') ? 'de' : 'en'
} = Astro.props;
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link
			rel="preload"
			href="/fonts/advercasefont-regular-webfont.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>
		<link
			rel="preload"
			href="/fonts/advercasefont-bold-webfont.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>
		<link
			rel="preload"
			href="/fonts/seriouslynostalgic-regular-webfont.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
	</head>
	<body>
		<Header lang={lang} />
		<main class="container">
			<slot />
		</main>
		<Footer lang={lang} />
	</body>
</html>
